body { 
  	font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
	margin-top: 218px;
	background-color: #fff;
	margin-left: 0px;
	margin-right: 0px;
}

/*Table used in the header*/
table {
  	width: 100%;
}

/*Links*/
a { 
  	text-decoration: none; 
  	color: #999; 
}

a:hover { 
  	text-decoration: underline; 
}

/*List items in the navigation div*/
nav ul { 
  	list-style: none; 
  	font-weight: bold; 
}

nav ul li { 
  	display: inline; 
  	margin-right: 20px;
}

/*Link anchors*/
.anchor {
	position: relative;
	top:-200px;
	display: block;
	height: 0;
	width:0;
}

/*Header text for each section*/
.sectionHeader {
	font-weight: bold;
	font-family: 'Rockwell';
	font-style: italic;
	font-size: 40px;
	padding-top:30px;
	text-align: center;
}

/*icon class*/
.icon {
	height:40px;
	width:40px;
}

/*logo class*/
.logo {
	margin-left: 20px;
	margin-top: 10px;
}

/*Specific logos*/
#osuLogo.logo {
	height:100px;
}

#ucdLogo.logo {
	height:125px;	
}

#attLogo.logo {
	height:100px;	
}

#dishLogo.logo{
	height:90px;	
}

#profilepic {
	height: 250px;
	border-radius: 10px;
	margin: 10px;
}

#projectThumbnail {
	height: 100px;
	width: 100px;
	border-radius: 10px;
	margin: 10px;
	float: left;
}

/*Main div definitions*/
div {
	/*background-color: #d8d8d8;*/
	width: 100%;
}

/*Specific div definitions*/
div.headerMain {
	background-image: url("/pics/background_header.png");
	background-position: center bottom;
	background-size: 100%;
	position: fixed;
	z-index: 1;
	top: 0px;
}

div.navigation {
	text-align:center;
	background-color:#3d3d3d;
	color:#fff;
	padding-top: 1px;
	padding-bottom: 1px;
}


div.education, div.work, div.about, div.projects {
	background-color: #fff;
	margin-top: 10px;
	background-position: center center;
	background-size: cover;
	width:95%;
	margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#osu.education {
	background-image: url("/pics/background_campus1.jpg");
}

#ucd.education {
	background-image: url("/pics/background_campus2.jpg");
	background-position: center bottom;
}

#att.work {
	background-image: url("/pics/background_work1.jpg");
}

#dish.work {
	background-image: url("/pics/background_work2.jpg");
}

.about {
	background-image: url("/pics/background_about.jpg");
}

.projects {
	background-image: url("/pics/background_projects.jpg");
}

/*td definition for the name within the header */
td.headerName {
	color: #000;
	padding: 10px;
	vertical-align: bottom;
	font-weight: bold;
	font-family: 'Rockwell';
	font-size: 50px;
}

/*td definition for the icons in the header*/
td.headerIcons {
	padding: 10px;
	text-align: right;
}

/*paragraphs*/
p {
	padding: 10px;
	margin-left: 20px;
}

/*Span to get the blue font*/
span.title {
	font-weight: bold;
	color: #2E9AFE;
	font-size: 23px;
	font-family: 'Rockwell';
}

/*Span to get the bold black font*/
span.location {
	font-weight: bold;
	font-size: 20px;
	font-family: 'Rockwell';
}

/*Page footer*/
footer { 
	margin-top: 20px;
	padding: 20px;
	border-top: 1px solid #A4A4A4; 
	font-size: .8em; 
	font-style: italic;
	text-align: right;
}
