body { 
  margin: 60px auto; 
  width: 70%;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
}

table {
	width: 100%;
}

a { 
  text-decoration: none; 
  color: #999; 
}

a:hover { 
  text-decoration: underline; 
}

nav ul { 
  list-style: none; 
  font-weight: bold; 
}

nav ul li { 
  display: inline; 
  margin-right: 20px; 
}

img.icon {
  height:40px;
  width:40px;
}

img.schoolLogo1{
	height:100px;	
}

img.schoolLogo2{
	height:125px;	
}

div {
	border-radius: 10px;
	position: relative;
	background-color: #d8d8d8;
}

div.headerMain {
	background-image: url("/pics/header3.png");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100%;
}

div.navigation {
	border-radius: 0 0 10px 10px;
	text-align:center;
	background-color:#3d3d3d;
	color:#fff;
	clear: both;
	padding: 1px;
}

div.school {
	background-color: #fff;
	margin-top: 10px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#osu.school {
	background-image: url("/pics/campus1jpg.jpg");
}

#ucd.school {
	background-image: url("/pics/campus2jpg.jpg");
	background-position: center bottom;
}

td.headerName {
	color: #000;
	padding: 10px;
	vertical-align: bottom;
	font-weight: bold;
	font-family: 'Rockwell';
	font-size: 50px;
}

td.headerIcons {
	padding: 10px;
	text-align: right;
}

p.schoolBlurbs {
	padding: 10px;
	margin-left: 20px;
}

span.degree {
	font-weight: bold;
	color: #2E9AFE;
}

span.schoolName {
	font-weight: bold;
}

footer { 
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #d5d5d5; 
	font-size: .8em; 
	font-style: italic;
	text-align: right;
}
