<!doctype HTML>
<HTML>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div class="headerMain">
			<table>
				<tr>
					<td class="headerName">Mike Thweatt</td>
					<td class="headerIcons">
						<a href="https://www.linkedin.com/in/mikethweatt">
							<img class="icon" src="pics/Linkedin.png" alt="Linkedin"></a><br>
						<a href="https://github.com/thweattm">
							<img class="icon" src="pics/Github.png" alt="Github"></a><br>
						<a href="mailto:mikethweatt@gmail.com">
							<img class="icon" src="pics/Gmail.png" alt="Email"></a>
					</td>
				</tr>
			</table>
			<div class="navigation">
				<p>Home | About | Work Experience | Education | Resume</p>
			</div>
		</div>
		
		
		<div class="container">
			{{ content }}
		</div>
		
		<footer>
			Footer Here
		</footer>
	</body>
</HTML>
